.article{
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 4em;
}

.title{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    border-bottom: 3px solid rgba(149, 178, 167, .5);
}

.title__h2{
    font-size: 3em;
    font-weight: 800;
    margin-bottom: .5em;
}
/*================================================================================================================================
==================================================================================================================================*/
.index__li{
    width: 100%;
    list-style: none;
    margin: 1em 0;
}

.index__a{
    color: var(--primary-color);
    text-decoration: none;
}

.index__li:hover{
    opacity: .5;
    transition: opacity 0.4s ease;
}
/*================================================================================================================================
==================================================================================================================================*/
.index, .introduction, .methodology, .dataframe, .neighborhood{
    margin: 0 0 6em 0;
}

.introduction__title, .methodology__title, .dataframe__title, .neighborhood__title, .environments__title{
    width: 100%;
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid rgba(149, 178, 167, .5);
}

.index, .introduction__p, .methodology__p, .dataframe__p, .neighborhood__p, .environments__p{
    font-size: 1.2em;
    line-height: 1.5em;
}
/*================================================================================================================================
==================================================================================================================================*/
.methodology__flowchart{
    width: 100%;
}
/*================================================================================================================================
==================================================================================================================================*/
.dataframe__ul{
    max-width: 100%;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dataframe__li{
    padding: .5em 0;
}

.dataframe__a{
    font-weight: 800;
    color: #9F70FD;
    text-decoration: none;
}

.dataframe__a:hover{
    opacity: .5;
    transition: opacity 0.4s ease;
}

.dataframe__wrapper{
    overflow-x: scroll;
}

.dataframe__table{
    width: 100%;
    margin-top: 3em;
    font-size: 1.2em;
    border-collapse: collapse;
}

.dataframe__table > tr, th, td{
    text-align: left;
    padding: .7em 0 .7em .5em;
}

tr:nth-child(1){
    border-bottom: 1px solid white;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.1);
}
/*================================================================================================================================
==================================================================================================================================*/
.neighborhood__grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: start;
    margin: 4em 0;
}

.neighborhood__card{
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 1em;
}

.neighborhood__polygon{
    width: 9em;
}

.neighborhood__polygon:hover{
    opacity: .5;
}

.neighborhood__data{
    display: flex;
    flex-direction: column;
}

.neighborhood__freq{
    font-size: 3em;
    font-weight: 800;
}

.neighborhood__span{
    font-size: 3em;
    font-weight: 600;
}

.neighborhood__map{
    width: 100%;
    height: 50em;
}
/*================================================================================================================================
==================================================================================================================================*/
.environments{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid yellow;
}

.environments__insight{
    width: 18em;
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
    border: 1px solid yellow;
}

.environments__legend{
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
}

.environments__chart{
    width: 100%;
}
/*================================================================================================================================
==================================================================================================================================*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1.5em .5em .5em 1em;
    margin: 4em 0;
    color: var(--primary-color);
    border-top: 1px solid rgba(149, 178, 167, .5);
}

.article__author{
    padding: 0;
    margin: .5em 0 .5em 0;
}

.pre{
    width: 100%;
    display: flex;
    align-self: center;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {

    .article{
        width: 80%;
    }
    
    .pre{
        width: 100%;
    }

    .neighborhood__card{
        flex-wrap: wrap;
        justify-content: center;
    }

    .neighborhood__data{
        justify-content: center;
    }
    
    .neighborhood__freq{
        text-align: center;
    }
}