.article{
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 4em;
}

.article__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    margin-bottom: 1.5em;
    border-bottom: 3px solid rgba(149, 178, 167, .5);
}

.article__title{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.article__description{
    font-size: 1.2em;
    margin: 0 0 .7em 0;
}

.article_divisor{
    width: 100%;
    margin: 1em 0;
    border: 1.5px solid rgba(149, 178, 167, .5);
}

.article__ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.article__link{
    color: #93B1A6;
    transition: opacity 0.4s ease;
}

.article__link--header{
    text-decoration: none;
}

.article__link:hover{
    opacity: .6;
}

.article__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1.5em .5em .5em 1em;
    margin: 4em 0;
    border-top: 1px solid rgba(149, 178, 167, .5);
}

.article__author{
    padding: 0;
    margin: .5em 0 .5em 0;
}

.pre{
    width: 100%;
    display: flex;
    align-self: center;
}



/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {

    .article{
        width: 80%;
    }
    
    .article__pdf{
        max-width: 100%;
    }

    .pre{
        width: 100%;
    }
}