html {
    scroll-behavior: smooth;
}

#particles-js{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.body{
    width: 100vw;
    background-color: #040D12;
    color: #93B1A6;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
    border: 1px solid red;
}

/* Header */

.header{
    width: 100%;
    max-width: 1400px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    z-index: 2;
    margin: 0 auto;
}

.header__linkedin{
    height: 2.1em;
    display: flex;
    align-items: center;
}

.header__link{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #93B1A6;
    font-weight: 500;
    transition: opacity 0.4s ease;
}

.header__link:hover{
    opacity: .6;
}

.header__icon{
    width: 2.1em;
    height: 2.1em;
    padding-right: 1em;
}

.header__menu{
    height: max-content;
}

.header__ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__li{
    margin-right: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.header__li:hover{
    opacity: .6;
}

.header__icons{
    display: none;
}

.header__a{
    text-decoration: none;
    color: #93B1A6;
}

.header__hamburguer{
    display: none;
}

.header__close{
    display: none;
}


/*Sección Main*/

.main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chart{
    width: 17.68em;
    height: 20.79em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.chart__bars{
    width: 13.12em;
    height: 20.43em;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.bar__back{
    width: 1.875em;
    height: 0;
    position: relative;
    background-color: #3D4F4D;
}

.bar__back--1{
    height: 12.875em;
    transition: height 2.7s ease-in-out;
}

.bar__back--2{
    height: 17.25em;
    transition: height 2.4s ease-in-out;
}

.bar__back--3{
    height: 20.4375em;
    transition: height 1.7s ease-in-out;
}

.bar__back--4{
    height: 18.5em;
    transition: height 2.2s ease-in-out;
}

.bar__back--5{
    height: 14.5em;
    transition: height 2.4s ease-in-out;
}

.bar__front{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #93B1A6;
}

.bar__front--1{
    height: 7.375em;
    transition: height 2.4s ease-in-out;
}

.bar__front--2{
    height: 15.6875em;
    transition: height 2.2s ease-in-out;
}

.bar__front--3{
    height: 9.875em;
    transition: height 1.7s ease-in-out;
}

.bar__front--4{
    height: 16.5em;
    transition: height 2.4s ease-in-out;
}

.bar__front--5{
    height: 5.6875em;
    transition: height 2.7s ease-in-out;
}

.chart__line{
    width: 100%;
    position: relative;
}

.chart__bar{
    width: 0;
    height: .18em;
    background-color: #93B1A6;
    transition: width 2s ease-in-out;
}

.chart__bar--active{
    width: 100%;
}


/*Nombre y Apellido - Profesión*/

.name{
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.name__title{
    padding: 0;
    margin: 0;
    font-size: 5em;
    font-weight: 700;
    color: #93B1A6;
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.name__title--active{
    opacity: 1;
}

.name__subtitle{
    font-size: 1.2em;
    font-weight: 100;
    color: #93B1A6;
    opacity: 0;
    transition: opacity 5s ease-in-out;
    border: 1px solid yellow;
}

.name__subtitle--active{
    opacity: 1;
}

/*Seccion "¿Quién soy?"*/

.quiensoy{
    display: flex;
    justify-content: center;
}

.quiensoy__wrapper{
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 4em 0;
}

.quiensoy__picture{
    width: 25em;
    height: max-content;
    object-fit:contain;
    z-index: 1;
}

.quiensoy__container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quiensoy__title{
    font-size: 2em;
    font-weight: 800;
}

.quiensoy__paragraph{
    font-size: 1.2em;
    padding: 0;
    margin-bottom: .6em;
}

/*Sección Stack de Herramientas*/

.stack{
    display: flex;
    justify-content: center;
}

.stack__wrapper{
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 4em 0;
}

.stack__title{
    font-size: 3em;
}

.stack__ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.stack__li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.stack__icon{
    width: 3.5em;
    margin-right: 1em;
}

.stack__p{
    font-size: 1.2em;
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .quiensoy__wrapper{
        flex-direction: column;
    }

    .quiensoy__picture{
        width: 20em;
    }

    .quiensoy__container{
        margin-top: 2em;
    }

}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {

    /*Menu responsive*/
    .header{
       width: 80%;
       max-width: 100vw;
       overflow-x: hidden;
       border: 1px solid yellow;
    }

    .header__background{
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all .5s ease-in-out;
    }

    .header__hamburguer{
        width: 1.7em;
        display: block;
        border: 1px solid yellow;
    }

    .header__menu{
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        padding: 6em 1.5em 6em 0;
        background-color: #040D12;
        border-left: .1em solid #93B1A6;
        transition: all .5s ease-in-out;
        border: 1px solid yellow;
    }

    .header__ul{
        height: max-content;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid yellow;
    }

    .header__li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 2em 0;
        font-weight: 300;
        border: 1px solid yellow;
    }

    .header__icons{
        display: block;
        width: 1.6em;
        padding-right: 1em;
    }

    .header__close{
        width: 1.7em;
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        border: 1px solid yellow;
    }

    /*Pagina de inicio*/
    .name__title{
        font-size: 2em;
        border: 1px solid green;
    }

    .name__subtitle{
        margin: 0 -10.5em 0 0;
        font-size: 1em;
        border: 1px solid green;
    }
    
    /*Sección ¿Quién Soy?*/
    .quiensoy__wrapper{
        width: 80%;
        flex-direction: column;
        border: 1px solid green;
    }

    .quiensoy__picture{
        width: 15em;
        border: 1px solid green;
    }

    .quiensoy__container{
        margin-top: 2em;
        border: 1px solid green;
    }

    /*Sección Stack de Herramientas*/
    .stack__wrapper{
        width: 80%;
        align-items: center;
        border: 1px solid green;
    }

    .stack__title{
        font-size: 2em;
        border: 1px solid green;
    }

    .stack__li{
        flex-direction: column;
        border: 1px solid green;
    }
}